<table class="table-dark table table-striped" [formGroup]="filteringForm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Azonosító</th>
            <th>Energiaigény</th>
            <th>Állapot</th>
            <th>Helyszín</th>
        </tr>
        <tr>
            <th> <input type="text" class="form-control" placeholder="Id" formControlName="id"></th>
            <th> <input type="text" class="form-control" placeholder="Azonosító" formControlName="identifier"></th>
            <th> <input type="text" class="form-control" placeholder="Energiaigény" formControlName="energyDemand"></th>
            <th> <input type="text" class="form-control" placeholder="Státusz" formControlName="status"></th>
            <th> <input type="text" class="form-control" placeholder="Helyszín" formControlName="location"></th>
        </tr>
    </thead>
    <tbody>
        @for(item of (data|cityFilter:filteringForm.value);track item.id){
        <tr class="">
            <td>{{item.id}}</td>
            <td>{{item.identifier}}</td>
            <td>{{item.energyDemand}}</td>
            <td>{{item.status}}</td>
            <td>{{item.location}}</td>
        </tr>
        }
    </tbody>

</table>